<div class="container">
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "field form-control",placeholder: "Enter your email" %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password",:class => "field form-control",id: "myinput",placeholder: "Enter your password" %><br>
     <input type="checkbox" onclick="myFunction()">Show Password
  </div>


  <div class="actions form-group">
    <%= f.submit "Log in", :class => "btn btn-success" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>